    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="row">
                <div class="col-lg-9 text-center text-lg-start">
                    <h3>Let's Talk</h3>
                    <p>Are you interested in website development or analysis? Proofreading or localisation? SEO and ranking? You are at the right place!</p>
                </div>
                <div class="col-lg-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="skype:andreidrynov?chat">Chat Now</a>
                </div>
            </div>

        </div>
    </section><!-- End Cta Section -->
