<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Nice to Meet You</h2>
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <p>
                    I'm Andrei, a software developer based in Cork, Ireland. I am passionate about building
                    great software that makes a difference to the world and people
                    around me.
                </p>
                <p> I specialise in the creation of amazing digital products. Currently, I am focused on building the next generation of inclusive AI-powered products.</p>
                <a href="https://github.com/adrynov/adrynov.github.io/Andrei_Drynov_CV.pdf" class="btn-learn-more" target="_blank">My Resume</a>
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
                <ul>
                    <li><i class="ri-check-double-line"></i> scalable, great-looking software solutions </li>
                    <li><i class="ri-check-double-line"></i> cross-browser, multi-platform, human-centered products</li>
                    <li><i class="ri-check-double-line"></i> seamless user experiences to engage users </li>
                    <li><i class="ri-check-double-line"></i> smart use of modern technologies</li>
                    <li><i class="ri-check-double-line"></i> focus on actual user needs and expectations</li>
                </ul>
            </div>
        </div>

    </div>
</section><!-- End About Us Section -->