<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Projects</h2>
            <p>These are some of my projects. Use the filter to list them by category.</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-web">Web</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <afd-portfolio-item *ngFor="let item of items" [item]="item" class="col-lg-4 col-md-6 portfolio-item filter-{{item.kind}}" (deleted)="onItemDeleted($event)"></afd-portfolio-item>

        </div>

    </div>
</section><!-- End Portfolio Section -->
