<!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Why Me?</h2>
            <p>Developed and delivered highly interactive, data-driven web applications. Created mobile applications for business and consumer use. A keen eye for creating compelling user interfaces that bring products to life.</p>
        </div>

        <div class="row">
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4><a href="">Quality Apps</a></h4>
                    <p>Friendly and usable project designs. Detailed and fast pages in high fidelity.</p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4><a href="">Clean Code</a></h4>
                    <p>Fast and modern code means validating the ideas with you straight away and making changes when needed.</p>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4><a href="">Built with Passion</a></h4>
                    <p>I take your ideas and build delightful nad functional user experiences around them.</p>
                    <!-- <p>Every project I build for you diversifies and develops my skills - on your own terms. Win-win for everybody!</p> -->
                </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in"
                data-aos-delay="400">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-layer"></i></div>
                    <h4><a href="">Tailored to You</a></h4>
                    <p>Regular reviews and acceptance checks with you before final submission</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->